node_modules
.next
dist
build
.env
.env.local
.env.*.local
*.log
.DS_Store
coverage
.turbo
.vercel
backend/prisma/*.db
backend/prisma/*.db-journal
*.tsbuildinfo
.idea
.vscode

backend/src/generated
backend/src/generated/**

# next.js
/.next/
/out/
/build
next-env.d.ts
*.tsbuildinfo

# env
.env*
!.env.example
backend/.env
backend/.env.*
!backend/.env.example
